h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    color: blue;
    text-align: center;
    margin: 190px;
}
.form {
    padding: 19px;
    margin: 240px;
    /* vertical-align: middle; */
    display: block;
    border-radius: 78px;
    
}